.DS_Store
.AppleDouble
.LSOverride

__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
.venv/
venv/
env/
ENV/

dist/
*.egg
build/

client/work/*
client/build/*
client/reports/

!client/work/.gitkeep
!client/build/.gitkeep

*.iso

server/temp/
server/data/
server/database/
server/logs/
server/*.log

*.tmp
*.temp
*.swp
*.swo
*~

.vscode/
.idea/
*.code-workspace